@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.nav-bar01 {
  background-color: $bg-nav-fotter;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  position: fixed;
  z-index: 2;
  width: 1400px;
  margin-top: 0;

  ul {
    display: flex;
    margin: 1rem;

    li {
      margin: 0 5rem;
      list-style: none;
    }

    a {
      color: $text-color-primary;
      text-decoration: none;
      position: relative;
      padding: 10px;
      font-size: 0.75rem;
      font-weight: bolder;
    }
  }
}
.nav-bar ul li a:hover {
  color: $text-color-secondary;
  text-decoration: underline;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f0f0f0;
  font-weight: bolder;
}
