@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

header{
  display: flex;
  background-color: rgb(233, 229, 229);
  flex-direction: column;
  position: fixed;
  z-index: 30;
  width: 100%;
  }
.logo{
  border-bottom: 2px solid rgb(233, 229, 229);
  
  width: 100%;
}
.logo-img{
  
  width: 15rem;
  margin: 0.5em 0 0.5em 1em;
}
.nav-bar01 {
  background-color: $bg-nav-fotter;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.0rem;
  z-index: 2;
  width:100%;
  margin-top: 0;

  ul {
    display: flex;
    margin: 1rem;

    li {
      margin: 0 5rem;
      list-style: none;
    }

    a {
      color: $text-color-primary;
      text-decoration: none;
      position: relative;
      padding: 10px;
      font-size: 0.75rem;
      font-weight: bolder;
    }
  }
}
.nav-bar ul li a:hover {
  color: $text-color-secondary;
  text-decoration: underline;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  background-color: #f0f0f0;
  font-weight: bolder;
}
.c__c{
  
  
  .d__d{
    background-color:#1fbd4e;
    border: 1px solid #1fbd4e;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
  }
}
