@use "../utilities/variables" as *;
@use "../utilities/mixin-extend" as *;

.footer {
  text-align: center;
  height: 4rem;
  margin: 0.9rem 0;
}
.footer p {
  color: #f0f0f0;
}
.footer p a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}
.chg{
  color: $text-color-secondary;
  margin-top: 0;
  
  a{
     text-decoration: none;
  color: #f0f0f0;
  }
}
